    GLOBAL_SETTINGS
    LAB_MASTER_SEED ssh_tunnel_student_master_seed
    REGISTRY tientran0106
NETWORK SOME__NETWORK
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.1
CONTAINER client
     USER attack
     X11 YES
     TERMINALS 2
     PASSWORD 123
     SOME__NETWORK 172.20.0.4
CONTAINER server
     USER victim
     X11 YES
     TERMINALS 0
     PASSWORD 123
     SOME__NETWORK 172.20.0.6
