    GLOBAL_SETTINGS
    LAB_MASTER_SEED bruteforce_student_master_seed
    REGISTRY tientran0106
NETWORK SOME_NETWORK
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.1
CONTAINER client
     USER attack
     X11 YES
     PASSWORD 123
     SOME_NETWORK 172.20.0.5
CONTAINER server
     USER victim
     X11 YES
     PASSWORD 1
     SOME_NETWORK 172.20.0.3
