    GLOBAL_SETTINGS
    LAB_MASTER_SEED ssh_conf_student_master_seed
    REGISTRY tungsilva10
NETWORK SOME_NETWORK
     MASK 172.20.10.0/24
     GATEWAY 172.20.10.1
CONTAINER client
     USER ubuntu
     X11 YES
     SOME_NETWORK 172.20.10.2
CONTAINER server
     USER ubuntu
     X11 YES
     SOME_NETWORK 172.20.10.3
