    GLOBAL_SETTINGS
    LAB_MASTER_SEED pinglab2_student_master_seed
    REGISTRY tungnq2002
NETWORK SOME_NETWORK
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.1
CONTAINER user1
     USER ubuntu
     X11 YES
     PASSWORD 123
     SOME_NETWORK 172.20.0.10
CONTAINER user2
     USER ubuntu
     X11 YES
     PASSWORD 123
     SOME_NETWORK 172.20.0.20
CONTAINER target
     USER ubuntu
     X11 YES
     PASSWORD 123
     SOME_NETWORK 172.20.0.30
